@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
@mixin tablet {
    @media screen and (max-width: 770px){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px;
        width: 100%;
        padding: 0 20px;
        height: 5rem;
        margin: 0 auto; 
        position: relative;
        .nav-links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li{
                margin: 0 10px;
                a{
                    color: black;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 0.85rem;
                    &:hover{
                        border-bottom: black 1px solid;
                    }
                }
            }  
            @include tablet(){
                display: none;
            }
        }    
        .logo{
            a{
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 700;
                color: black;
                letter-spacing: 2px;
                
                span{
                    font-weight: 300;;
                }
                @include tablet(){
                    font-size: 1.2rem;
                }
            }
        }
        .nav-buttons{
            display: flex;
            img{
                width: 25px;
                margin: 0 7px;
            }
            #menu-btn{
                display: none;
                cursor: pointer;
                @include tablet(){
                    display: block;
                }
            } 
        } 
    }
    .nav-links-mobile{
        display: none;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
        flex-direction: column;
        top: 5rem;
        left: 0;
        li{
            padding: 15px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.24);
            a{
                color: black;
                display: block;
                padding-left: 30px;
                width: 90%;
            }
        }
        @include tablet(){
            display: flex;
            
        }
    }
    .nav-links-active{
        max-height: 410px;
    }
}
footer{
    background-color: black;
    color: white;
    padding: 50px 0;
    .footer-container{
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        @include mobile(){
            flex-direction: column;
        }
        .footer-column{
            span{
                color: white;
                font-weight: 600;
                &::after{
                    content: "";
                    display: block;
                    margin: 10px 0 20px 0;
                    width: 40px;
                    height: 3px;
                    background-color: gray;
                }
            }
            li {
                margin: 10px 0;
            }
            a{
                color: grey;
                @include mobile(){
                    font-size: 0.8rem;
                }
                &:hover{
                    color: whitesmoke;
                }
            }
        }
        
    }
    img{
        background-color: rgb(41, 41, 41);
        width: 50px;
        object-fit: contain;
        object-position: center;
        border: black 1px solid;
        opacity: 0.7;
        border-radius: 4px;
        height: 35px;
        &:hover{
            opacity: 1;
        }
    }
}

.top-photo{
    position: relative;
    height: max-content;
    img{
        height: 50%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    span{
        position: absolute;
        bottom: 20px;
        left: 40px;
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
    }
}
.shoes{
    .shoes-container{
        width: 90%;
        max-width: 1300px;
        margin: 100px auto;
        h2{
            font-size: 2.5rem;
            margin: 10px 0;
        }
    }
    .shoes-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: max-content;
        row-gap: 20px;
        column-gap: 20px;
        @include tablet(){
            grid-template-columns: 1fr 1fr;
        }
        .item{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
            }
            a{
                color: rgb(71, 71, 71);
                margin: 5px 0;
            }
        }
    }
}
.top{
    .top-container{
        width: 90%;
        max-width: 1300px;
        margin: 100px auto;
        h2{
            font-size: 2.5rem;
            margin: 10px 0;
        }
    }
    .top-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: max-content;
        row-gap: 20px;
        column-gap: 20px;
        @include tablet(){
            grid-template-columns: 1fr 1fr;
        }
        .top-item{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
            }
            a{
                color: rgb(71, 71, 71);
                margin: 5px 0;
            }
        }
    }
}