@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  height: 5rem;
  margin: 0 auto;
  position: relative;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-links li {
  margin: 0 10px;
}

header nav .nav-links li a {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
}

header nav .nav-links li a:hover {
  border-bottom: black 1px solid;
}

@media screen and (max-width: 770px) {
  header nav .nav-links {
    display: none;
  }
}

header nav .logo a {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  letter-spacing: 2px;
}

header nav .logo a span {
  font-weight: 300;
}

@media screen and (max-width: 770px) {
  header nav .logo a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  header nav .logo a {
    font-size: 1.1rem;
  }
}

header nav .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-buttons .search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  border: 1px solid black;
  margin: 0 7px;
  padding: 4px;
}

@media screen and (max-width: 480px) {
  header nav .nav-buttons .search-field {
    border: none;
    padding: 0;
  }
}

header nav .nav-buttons .search-field input[type=text] {
  width: calc(100% - 30px);
  border: none;
  padding-left: 10px;
}

@media screen and (max-width: 480px) {
  header nav .nav-buttons .search-field input[type=text] {
    display: none;
  }
}

header nav .nav-buttons .search-field #search-btn {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  header nav .nav-buttons .search-field #search-btn {
    display: block;
    z-index: 2;
  }
}

header nav .nav-buttons img {
  width: 25px;
  margin: 0 7px;
}

header nav .nav-buttons #menu-btn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  header nav .nav-buttons #menu-btn {
    display: block;
  }
}

header .nav-links-mobile {
  display: none;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 5rem;
  left: 0;
}

header .nav-links-mobile li {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
}

header .nav-links-mobile li a {
  color: black;
  display: block;
  padding-left: 30px;
  width: 90%;
}

@media screen and (max-width: 770px) {
  header .nav-links-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .nav-links-active {
  max-height: 410px;
}

header .search-field-mobile {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;
}

header .search-field-mobile .search-field-mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px auto;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

header .search-field-mobile .search-field-mobile-container input {
  width: 100%;
  height: 25px;
  border: none;
  padding-left: 50px;
}

header .search-field-mobile .search-field-mobile-container span {
  cursor: pointer;
  position: absolute;
  top: 0px;
  font-size: 1.2rem;
  right: 20px;
}

header .search-field-mobile .search-field-mobile-container #search-btn {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 10px;
  display: block;
  width: 25px;
}

header .search-field-active {
  display: block;
}

footer {
  background-color: black;
  color: white;
  padding: 50px 0;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-container .footer-column span {
  color: white;
  font-weight: 600;
}

footer .footer-container .footer-column span::after {
  content: "";
  display: block;
  margin: 10px 0 20px 0;
  width: 40px;
  height: 3px;
  background-color: gray;
}

footer .footer-container .footer-column li {
  margin: 10px 0;
}

footer .footer-container .footer-column a {
  color: grey;
}

@media screen and (max-width: 480px) {
  footer .footer-container .footer-column a {
    font-size: 0.8rem;
  }
}

footer .footer-container .footer-column a:hover {
  color: whitesmoke;
}

footer img {
  background-color: #292929;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border: black 1px solid;
  opacity: 0.7;
  border-radius: 4px;
  height: 35px;
}

footer img:hover {
  opacity: 1;
}

.top-photo {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.top-photo img {
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.top-photo span {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

.shoes .shoes-container {
  width: 90%;
  max-width: 1300px;
  margin: 100px auto;
}

.shoes .shoes-container h2 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.shoes-grid, .top-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 100px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media screen and (max-width: 770px) {
  .shoes-grid, .top-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-container img {
  width: 100%;
  height: auto;
}

.item-container .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.item-container .item-info .item-price {
  font-size: 1.2rem;
  font-weight: 600;
}

.item-container button {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.top .top-container {
  width: 90%;
  max-width: 1300px;
  margin: 100px auto;
}

.top .top-container h2 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.image-window {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  background-color: whitesmoke;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 1;
}

.image-window img {
  width: 50%;
}

.image-window .img-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.image-window .img-close::after {
  content: ' \2716';
  font-size: 1.5rem;
}

.sign-up {
  margin: 100px 0;
  padding: 50px 0;
  background-color: #ede734;
}

.sign-up .sign-up-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .sign-up .sign-up-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.sign-up .sign-up-flex h4 {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
}

@media screen and (max-width: 480px) {
  .sign-up .sign-up-flex h4 {
    font-size: 1.5rem;
  }
}

.sign-up .sign-up-flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 770px) {
  .sign-up .sign-up-flex div {
    margin-top: 20px;
  }
}

.sign-up .sign-up-flex div input[type=text] {
  width: 300px;
  height: 40px;
  background-color: black;
  padding-left: 10px;
  border: none;
  color: white;
  font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
  .sign-up .sign-up-flex div input[type=text] {
    width: 200px;
  }
}

.sign-up .sign-up-flex div button {
  cursor: pointer;
  width: 50px;
  height: 40px;
  background-color: black;
  border: none;
  border-left: 1px white solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sign-up .sign-up-flex div button::after {
  content: ' \2192';
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 700;
}

.sign-up .sign-up-flex div button:hover {
  color: black;
  background-color: whitesmoke;
}

.sign-up .sign-up-flex div button:hover::after {
  color: black;
}

.mission {
  background-color: black;
  position: relative;
}

.mission img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  opacity: 0.4;
}

@media screen and (max-width: 480px) {
  .mission img {
    -o-object-position: 80%;
       object-position: 80%;
  }
}

.mission .mission-text {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 770px) {
  .mission .mission-text {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .mission .mission-text {
    width: 300px;
  }
}

.mission .mission-text h5 {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
}

.mission .mission-text h2 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 770px) {
  .mission .mission-text h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .mission .mission-text h2 {
    font-size: 2.5rem;
  }
}

main {
  margin: 0 auto;
}

main .history {
  margin: 200px auto;
  width: 100%;
  max-width: 1000px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 20px;
}

@media screen and (max-width: 770px) {
  main .history {
    margin: 100px 0;
  }
}

main .history h2 {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

main .history p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #353535;
}

main .management {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

main .management h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: #bb0303;
  padding-bottom: 20px;
  border-bottom: 2px solid #bb0303;
  margin: 50px 0 50px 100px;
  width: 500px;
}

@media screen and (max-width: 770px) {
  main .management h2 {
    font-size: 1.5rem;
    width: 400px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 480px) {
  main .management h2 {
    font-size: 1.2rem;
    font-weight: 500;
    width: 250px;
  }
}

main .management .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  main .management .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .management .flex-container .flex-item {
  width: 31vw;
  position: relative;
}

@media screen and (max-width: 1000px) {
  main .management .flex-container .flex-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

main .management .flex-container .flex-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(transparent 50%, black 150%);
}

main .management .flex-container .flex-item .member-img {
  width: 100%;
}

main .management .flex-container .flex-item .member-img img {
  width: 100%;
}

main .management .flex-container .flex-item .member-info {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
}

main .management .flex-container .flex-item .member-info span {
  display: block;
  color: white;
  text-transform: uppercase;
}

main .management .flex-container .flex-item .member-info .name {
  font-weight: 600;
}

main .management .flex-container .flex-item .member-info .position {
  font-weight: 300;
}

main .figures {
  width: 100%;
  max-width: 1340px;
  margin: 200px auto;
  padding: 0 20px;
}

@media screen and (max-width: 770px) {
  main .figures {
    margin: 100px auto;
  }
}

main .figures h2 {
  font-size: 3rem;
  color: #111111;
  text-transform: uppercase;
  margin: 30px 0;
}

@media screen and (max-width: 480px) {
  main .figures h2 {
    font-size: 2rem;
  }
}

main .figures .figures-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  main .figures .figures-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .figures .figures-flex .figure {
  margin-bottom: 30px;
}

main .figures .figures-flex .figure .figure-text {
  width: 200px;
}

@media screen and (max-width: 1000px) {
  main .figures .figures-flex .figure {
    width: 50%;
  }
}

@media screen and (max-width: 770px) {
  main .figures .figures-flex .figure {
    width: 100%;
  }
}

main .figures .figures-flex h3 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #353535;
}

main .figures .figures-flex span {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #020202;
  font-weight: 700;
}
/*# sourceMappingURL=about.css.map */