@import 'common';
main{
    h1{
        margin-bottom: 30px;
        font-size: 3.5rem;
    }
    padding: 0 30px;
    width: 100%;
    .hero{
        display: flex;
        @include tablet(){
            flex-direction: column;
        }
        img{
            width: 65%;
            object-fit: cover;
            @include tablet(){
                width: 100%;
            }
        }
        .hero-text{
            width: 35%;
            margin-top: 50px ;
            margin-left: 50px;
            @include tablet(){
                width: 100%;
                margin: 0;
            }
            .hero-tag{
                display: inline-block;
                font-family: 'Oswald', sans-serif;

                font-weight: 500;
                text-transform: uppercase;
                border-bottom: black solid 4px ;
                padding-bottom: 4px;
            }
            h3{
                font-size: 2.5rem;
                font-weight: 600;
                margin: 30px 0;
                @include tablet(){
                    font-size: 1.2rem;
                    margin: 10px 0;
                }
            }
            p{
                font-size: 1.2rem;
                font-weight: 400;
                color: rgb(51, 51, 51);
                @include tablet(){
                    display: none;
                }
            }
        }
        
    }
    .pro-tips{
        margin: 100px auto;

        .tips-container{
            width: 100%;
            margin: 0 auto;
            
            display: flex;
            justify-content: space-between;
            .tip{
                width: 30vw;
                height: max-content;
                margin: 0 5px;
                img{
                    width: 100%;
                    height: 25vw;
                    object-fit: cover;
                    object-position: top;
                    transition: 0.3s;
                    &:hover{
                        transform: scale(1.02);
                    }
                }
                .tag{
                    margin-top: 10px;
                    display: inline-block;
                    padding-bottom: 5px;
                    border-bottom: black 4px solid;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
                .title{
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin: 10px 0;
                }
                p{
                    font-size: .9rem;

                }
            }
        }
    }

}