@import 'common';
@mixin hero-buttons {
    position: absolute;
    bottom: 50px;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    border: black 1px solid;
    background: white;
    padding: 20px 0;
    width: 200px;
    transition: 0.3s;
    &:hover{
        background: black;
        color: white;
        border: white 1px solid;
    }
    @include mobile(){
        width: 150px;
    }
}

.hero-container{
    width: 100%;
    height: 600px;
    display: flex;
    .hero-men{
        width: 50%;
        background: url(https://s3.amazonaws.com/nikeinc/assets/64471/Skylar_Diggins_NTC.Nike_Metcon_DSX_Flyknit_square_1600.jpg?1480546539);
        background-size: cover;
        background-position: top;
        position: relative;
        a{
            @include hero-buttons();
            right: 0px;
        }
    }
    .hero-women{
        width: 50%;
        background: url(https://www.kicksonfire.com/wp-content/uploads/2016/12/nike-metcon-3-flyknit-3.jpg?x27652);
        background-size: cover;
        background-position: top;
        position: relative;
        a{
            @include hero-buttons();
            left: 0px;
        }
    }
}
.trending{
    margin: 150px 0;
    h4{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 50px;
        @include tablet(){
            font-size: 2.5rem;
        }
        @include mobile(){
            font-size: 2rem;
        }
    }
    .carousel{
        width: 80vw;
        margin: 0 auto;
        overflow-x: scroll ;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: black whitesmoke;
        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            background: whitesmoke;
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;
            border-radius: 20px;
            border: 3px solid whitesmoke;
        }
        @include tablet(){
            width: 100vw;
        }
        .carousel-container{
            display: flex;
            width: max-content;
            transition: 1s;
            margin-bottom: 50px;
            .product{
                width: 20vw ;
                height: max-content;
                @include tablet(){
                    width: 40vw;
                }
                .product-img img{
                    width: 95%;
                    height: auto;
                }
                .product-desc span{
                    display: block;
                    text-transform: uppercase;
                    color: black;
                }
            }
        }
    }
}
.features-container{
    .features-content{
        display: flex;
        width: 100%;
        height: 90%;
        @include tablet(){
            flex-direction: column;
            height: 100%;
        }
        .features-text{
            background-color: rgba(0, 0, 0, 0.863);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 50%;
            height: 100%;
            @include tablet(){
                width: 100%;
                padding: 40px 20px;
            }
            h2{
                color: white;
                font-size: 3rem;
                text-align: center;
                @include mobile(){
                    font-size: 2.2rem;
                }
            }
            hr{
                width: 100%;
                margin: 20px 0;
            }
            p{
                font-size: 1.2rem;
                color: whitesmoke;
                max-width: 500px;
                @include mobile(){
                    font-size: 0.9rem;
                }
            }
        }
        img{
            object-fit: cover;
            width: 50%;
            height: 100%;
            @include tablet(){
                width: 100%;
                height: 60%;
            }
        }

    }
    .swap{
        @include tablet(){
            flex-direction: column-reverse;
        }
    }
}
